body {
    font-family: Arial, sans-serif;
    background-color: #D9D9D9;
    color: #333; /* Dark grey text */
    margin: 0;
    padding: 0;
}
.box {
    width: 150px;
    height: 150px;
    background-color: white;
    display: inline-block;
    position: relative;
    
}
h1{
    padding:30px;
    color:white;
    background-color:#299999;
    
    width:1450px;
    
}
.floating {
    float: left;
    display: inline-block;
    
    
}
h2{
    padding:10px;
    margin:10px;
}

form input[type="text"],
form input[type="password"],
form select {
    width: 80%;
    margin:10px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
button{
    background-color:#299999;
    color:white;
    border-color:white;
}
a:link{
    text-decoration:none;
}
.formButton:hover{
    background-color:#2999AA;
}
a:hover {
    background-color:#D9D9D9;
}
a:visited {
    text-decoration: none;
}
.formButton {
    font-size: 20px;
    display:inline;
    background-color:#299999;
    border:1px;
    border-color:white;
    color:white;
    padding:10px;
}
.newFormButton {
    font-size: 20px;
    display: inline;
    background-color: #299999;
    border: 1px;
    border-color: white;
    color: white;
    padding: 10px;
    margin-top: -600px;
}



text{
    height:100px;
}
.navContainer{
    
    width:270px;
    height:600px;
    background-color:#299999;
    
    
}
.datatable {
    
    float: left;
    display: inline-block;
    overflow-x: auto;
    border-style:solid;
    border: 2px;
    margin:10px;
    position:absolute;
 
}
.datatable2 {
    float: left;
    display: inline-block;
    overflow-x: auto;
    border-style: solid;
    border: 2px;
    margin: 10px;
    position: absolute;
    margin-top: -500px;
    margin-left: 300px;
}
.datatable td{
    font-size:20px;
    padding:15px;
    margin:10px;
}
.datatable2 td {
    font-size: 20px;
    padding: 15px;
    margin: 10px;
}


.formDiv {
    background-color: white;
    float: left;
    display: inline-block;
    overflow-x: auto;
    border-style: solid;
    border: 2px;
    margin: 10px;
    position: absolute;
    width:1000px;
    height:600px;
    border:2px;
    border-style:solid;
    padding:3px;
}

.formTable {
    width: 1000px;
   
}
table.formTable td{
    width: 150px;
    height:40px;
}

.formDataTable {
    
    border: none;
    width: 1000px;
    border-collapse: separate;
    border-spacing: 0px 20px;
}

table.formDataTable td{

    background-color: white;
    border: none;
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding: 5px;
    width: 150px;
    height: 60px;
    border-right: hidden;
}

